.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.header__list {
    display: flex;
    gap: 32px;
}

.header__mobile {
    display: none;
    width: 100%;
    height: 100%;
    background-color: wheat;
    color: white;
    padding: 80px 15px 30px;
    position: fixed;
    transition: transform .6s;
    transform: translateX(100%);
}

.header__mobile.active {
    transform: translateX(0);
}


@media (max-width: 610px) {
    .header__nav {
        display: none;
    }

    .header__list {
        flex-direction: column;
        gap: 10px;
    }

    .header__mobile {
        display: block;

    }
}

@media (max-width: 468px) {

    .header__list {
        font-size: 18px;
        gap: 15px;
    }
}