.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 50px    ;
}

.header__list {
    display: flex;
    gap: 32px;
}

@media (max-width: 468px) {
 
    .header__list {
        font-size: 18px;
        gap: 15px;
    }
}

