html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    outline: transparent;
  }
  
  ul,
  ol {
    padding: 0;
  }
  
  ul {
    list-style: none;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  blockquote {
    margin: 0;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
    padding: 0;
    background-color: transparent;
    outline: transparent;
    border: none;
    appearance: none;
  }
  
  button {
    cursor: pointer;
    display: inline-block;
  }
  
  address,
  cite {
    font-style: normal;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
  }
  
  svg, path, g, circle, rect {
    transition: all .4s;
  }